<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>脉诊之道</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/login.css">
<link href="/stylesheets/style.css" rel="stylesheet" />
</head>
<body>
<div class="container">
	<%include header%>
	<div class="col-lg-12 main">
			<div class="col-lg-12" style="padding:0px">
				<h4 style="border-bottom:1px solid #aaa;padding:10px 0px;margin:0px;    margin-bottom:10px">专辑列表
				<a href="/addspecial" style="float:right">添加专辑</a>
			</h4>
				<div class="col-lg-12" style="padding:0px">
					<table class="table table-bordered">
						<tr>
							<th>专辑图片</th>
							<th>专辑名称</th>
							<th>描述</th>
							<th>创建时间</th>
							<th>节目数量</th>
							<th>操作</th>
						</tr>
						<%if(!data || data.length == 0){%>
						<tr>
							<td colspan="6">暂时没有专辑</td>						
						</tr>
						<%}else{%>
							<%data.forEach(function(spe){%>
								<tr>
									<td><img src="/uploads/<%=spe.picture%>" width="30" height="30" /></td>
									<td><%=spe.title%></td>
									<td><%=spe.desc%></td>
									<td><%=spe.addtime%></td>
									<td><a href="/show/<%=spe._id%>"><%=spe.shows.length%></a></td>
									<td>
										<a href="/delspecial/<%=spe._id%>" class="btn btn-default">删除</a>
										<a href="/editspecial/<%=spe._id%>" class="btn btn-default">修改</a>
									</td>
								</tr>	
							<%})%>
						<%}%>
					</table>
				</div>
			</div>		
		<div class="col-lg-8"></div>
	</div>
</div>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/check.js"></script>
</body>
</html>
